.body{
    background-color: black;
    color: white;
    padding: 150px 0px;
    height: 100vh;
    text-align: center;
}
.inp{
    border-radius: 8px;
    border: 2px solid grey;
    margin: 4px;
    padding: 16px 8px;
    width: 40%;
}
.btn{
    border-radius: 8px;
    border: 2px solid grey;
    margin: 6px;
    padding: 10px 4px;
    width: 10%;
}
.btn2{
    border-radius: 4px;
    border: 2px solid grey;
    margin: 6px 4px;
    padding: 5px 12px;
    /* width: 5%; */
}